<!-- HEIGHT BOTTOM -->
<div id="row3">
    <div class="container-footer">
    </div>
</div> 
<!-- END HEIGHT BOTTOM -->
</div>
</div>

<!-- FOOTER -->
<!--
<footer>
<div id="row5">
    <div class="container">
            <div class="bg-footer">
                <div class="footer-col">
                    <div class="footer-col1 center">
                        <a href="#" class="bottom-nav-left"></a>
                    </div>
                    <div class="footer-col1 center">
                        <a href="#" class="bottom-bintang"></a>
                    </div>
                    <div class="footer-col1 center">
                        <a href="#" class="bottom-circle"></a>
                    </div>
                    <div class="footer-col1 center">
                        <a href="#" class="bottom-move"></a>
                    </div>
                    <div class="footer-col1 center">
                        <a href="#" class="bottom-nav-right"></a>
                    </div>
               </div>
           </div>
    </div>
</div>
</footer>
-->
<!-- END FOOTER -->
