<!-- HEADER -->
<header>
<div id="row1">
    <div class="container"> 
          <div class="main columns">
            <div class="header"> 
                <div class="one columns"> 
						        <a href="<%=url%>" class="ui-btn-back goback">
						            <span class="ui-icon-arrow-l goback">&nbsp;</span>
						            <span class="ui-btn-text goback">Back</span>
						        </a>
                </div>
                <div class="two columns">
                    <span class="title-head">The Points Guy</span>
                </div>
                <div class="three columns">  
<!--
                	<div class="icon1 columns"><a href="#" class="icon-search-1"></a></div>
                	<div class="icon2 columns"><a href="#" class="icon-search-2"></a></div> 
-->
                </div> 
            </div>
         </div>
    </div>
</div>
</header>
<!-- END HEADER -->
