<%= header1({url:'javascript:history.back(1)'}) %>

<div id="wrapper">
<div id="scroll-content">
<!-- MAIN CONTENT -->
<div id="row3">
    <div class="container"> 
    	<div class="main columns">
        	<div class="detail columns omega alpha">
                <div class="title-box">
                	<span class="title"><%= subject %></span>
                </div>
                <div class="title-box-1">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->

<!-- CONTENT -->
<!-- MAIN CONTENT SECTION -->
<div id="row3"> 
	<!-- Row Content -->
	<div class="container"> 
		<div class="main columns"> 
                <div class="line columns">
                <%= content %>
                </div>
		</div>
	</div> 
</div>
<!-- END CONTENT -->
<!-- END MAIN CONTENT SECTION -->

